*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.mg_t_22 {
    margin-top: 22px;
}

.red {
    font-weight: 700;
    color: red;
}

.ul_right_nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.ul_right_nav > li > a {
    color: #000;
}

/* NAV */
.nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 70px;
    color: #000;
    background-color: #FC8D0C;
    display: flex;
    justify-content: space-between;
}

#left__nav {
    font-weight: 700;
    width: 38%;
    line-height: 74px;
    padding-left: 25px;
}

.list_style_none {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
}

.nav__icon:hover, .list_style_none:hover {
    color: #fff;
}

#right__nav {
    position: relative;
    display: flex;
    width: 30%;
    line-height: 74px;
    justify-content: space-between;
    padding-right: 48px;
}

.search {
    width: 280px;
    height: 42px;
    border-radius: 40px;
    padding-left: 70px;
    font-size: 18px;
    margin-top: 15px;
    border: none;
}

.search__icon {
    font-size: 20px;
    font-weight: 100;
    position: absolute;
    top: 26px;
    left: 60px;
}

.nav__icon {
    font-size: 20px;
    cursor: pointer;
}

#left__nav_ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

#left__nav_ul_list {
    display: none;
    list-style-type: none;
    
}

#css:hover #subnav_none {
    display: block;
}

#css {
    position: relative;
}

#subnav_none {  
    position: absolute;
    background-color: #fff;
    top: 65px;
    left: -20px;
    min-width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);   
    list-style: none; 
    flex-direction: column;
    display: none;
}


#subnav_none > li {
    border: 1px solid #FC8D0C;
    padding-left: 30px;
    height: 60px;
    line-height: 60px;
}

#subnav_none > li > a:hover {
    background-color: #FFDAB9;
}

#css {
    margin-top: 5px;
}

/* SLIDER */
#slider  {
    background-color: #FFDAB9;
}

#autumn {
    width: 100%;
    min-width: 100%;
    height: auto;
    padding-top: 72px;
    object-fit: contain;
    display: block;
}

/*  PRODUCT */
#container {
    width: 90%;
    margin: 40px 10%;
}

#product_list {
    display: grid;
    grid-template-columns: auto  auto auto auto;

}

/* FOOTER */
#footer {
    width: 100%;
    height: 200px;
    background-color: #FC8D0C;
    color: #fff;
    display: flex;
    justify-content: space-around;
}

.footer_left_map, #footer_right p, #footer_left p {
    margin: 20px 0;
}
