/*PC*/
@media (min-width:1040px) {
    
}

/*SMALL PC and IPAD PRO*/
@media (min-width:1024px)  and (max-width:1039px) {
    .container {
        display: block;
        width: 80%;
        margin-left: -6%;
        height: 1100px;

    }

    .left_image > img {
        margin-left: 40%;
        margin-top: 50px;
        margin-bottom: 30px;
        height: 500px;
        
    }

    .container .left_image {
        width: 60%;
        height: 50%;
    }

    .right_des {
        width: 80%;
        margin-left: 90px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 100px;
    }
}

/*TABLET*/
@media (min-width:740px) and (max-width:1023px) {
    .container {
        display: block;
        width: 80%;
        margin-left: -6%;
        height: 850px;

    }

    .left_image > img {
        margin-left: 40%;
        margin-top: 20px;
        margin-bottom: 30px;
        height: 500px;
        
    }

    .container .left_image {
        width: 60%;
        height: 50%;
    }

    .right_des {
        width: 80%;
        margin-left: 90px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 70px;
    }
} 

/*PHONE*/
@media (max-width:739px) {
    .container {
        display: block;
        width: 80%;
        margin-left: -6%;
        height: 680px;
    }

    .left_image > img {
        margin-left: 40%;
        margin-top: 50px;
        margin-bottom: 30px;
        height: 500px;
        
    }

    .container .left_image {
        width: 60%;
        height: 30%;
    }

    .right_des {
        width: 80%;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 100px;
    }
  
}