/*PC*/
@media (min-width:1040px) {
    
}

/*SMALL PC and IPAD PRO*/
@media (min-width:1024px)  and (max-width:1039px) {
    .search__icon {
        left: 70px;
    }

    #right__nav {
        width: 50%;
        margin-right: 18px;
    }

    #right__nav p {
        margin-left: 16px;
    }

    #left__nav {
        width: 45%;
    }

    #product_list {
        display: grid;
        grid-template-columns: auto auto auto;
        width: 98%;
    }

    #footer_left {
        margin-left: 30px;
        width: 40%;
    }

    #product_detail {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    #product_list {
        column-gap: 26px;
    }

}

/*TABLET*/
@media (min-width:740px) and (max-width:1023px) {
    #product_list {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 100px;
    }

    #product_detail {
        display: grid;
        grid-template-columns: auto auto;
    }

    #footer_left {
        margin-left: 20px;
    }

    #right__nav {
        width: 50%;
        /* margin-right: 0px; */
    }

    #left__nav {
        width: 45%;
    }

    .search__icon {
        left: 70px;
    }

    .search {
        width: 200px;
    }

} 

/*PHONE*/
@media (max-width:739px) {
    #left__nav {
        width: 13%;
    }

    #right__nav {
        width: 87%;
        margin-right: 1800px;
    }

    #right__nav p {
        margin-left: 16px;
    }

    .search__icon {
        left: -3500px;
    }

    .search {
        width: 180px;
        padding: 20px;
    }

    #product_detail {
        display: grid;
        grid-template-columns: auto;
    }

    .product_list_iterm {
        margin: 20px 26px;
    }

    #left__nav_ul_list {
        display: block;
    }

    #left__nav_ul {
        display: none;
    }

    #footer {
        display: block;
        height: 350px;
    }

    #footer_left, #footer_right {
        padding: 20px 10px 0;
    }
}