/*ipad pro*/
@media only screen and (max-width: 1024px){
    .wrap {
        width: 100%;
    }
    .left-header {
        width: 230px;
        margin-left: 20px;
    }

    .right-header .link {
        width: 350px;
        margin-left: 60px;
    }

    .btn {
        margin-right: 30px;
    }

    .album_one .left_picture{
        width: 250px;
        height: 350px;
        margin-left: 12px;
    }
    .album_one .left_picture > img {
        width: 100%;
        height: 100%;
    }
    
    
    .album_one .right_description {
        width: 650px;
        margin-right: 20px;
    }

    
    .right_description > .picture_etc > img {
        width: 200px;
        height: 250px;
    }

    .right_description .desc{
        text-align: justify;
    }

    .album_two .left_picture {
        margin-right: 24px;
    }

    .album_two .right_description {
        margin-left: 20px;
    }
}


/*iphone x*/
@media only screen and (max-width: 739px) {
    .wrap {
        width: 100%;
    }
    .header {
        width: 739px;
        display: flex;
        flex-direction: column;     
    }

    .left-header {
        justify-content: center;
        gap: 35px;
        width: 739px;
        text-align: center;
        margin-bottom: 10px;
    }

    .left-header .shop_name {
        font-size: 30px;
    }
    .right-header .link {
        width: 0;
    }

    .right-header .link > a{
        display: none;
    }

    .left-header .picture {
        width: 70px;
        height: 70px;

    }
    
    .right-header {
        width: 739px;
        display: flex;
        justify-content: space-between;
        
    }
    .right-header .btn {
       display: flex; 
       width: 300px;
       justify-content: flex-end;
    }

    .right-header .btn > button{
       width: 95px;
       height: 40px;
       font-size: 12px;
       text-align: center;
       margin-top: 5px;
    }

    .album {
        width: 739px;
    }

    .album_one {
        display: flex;
        flex-direction: column;
        width: 739px;
        align-items: center;
        margin-top: 220px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .album_one .left_picture {
        width: 150px;
        margin-top: 10px;
    }

    .album_one .right_description {
        width: 600px;  
        margin-top: 10px;
        margin-right: 10px;
    }

    .right_description .title_album {
        font-size: 18px;
        
    }

    .right_description .desc {
        font-size: 14px;
        text-align: justify;
    }

    .right_description .picture_etc {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .right_description > .picture_etc > img {
        width: 100px;
        height: 130px;
    }

    .album_two .left_picture> img{
        width: 150px;
        /* padding-bottom: 15px; */
        margin-top: 0;
    }

    .album_two {
        padding-bottom: 5px;
    }

    .album_two .right_description {
        margin-bottom: 0;
        margin-right: 15px;
    }

    .footer {
        width: 739px;
        height: 300px;
        flex-direction: column;
        align-items: baseline;
        gap: 5 px;
    }

    .right_footer, .left_footer {
        width: 100%;
        font-size: 14px;
    }

    .left_footer p {
        width: 95%;
        margin-left: 5px;
        text-align: justify;
    }

    .right_footer p {
        width: 90%;
        margin-left: 5px;
    }

    .link_responsive {
        display: block;
        position: relative;
        margin-left: 20px;
    }

    .link_activated {
        position: absolute;
        width: 115px;
        background-color: white;
        display: none;
    }

    .link_activated > a{
        width: 115px;
        height: 40px;
        display: block;
        text-decoration: none;
        color: black;
        text-align: center;
        border: 1px solid #d9d9d9;
        line-height: 40px;
    }

    .link_activated > a:hover {
        color: orange;
    }

    .link_responsive:hover > .link_activated {
        display: block;
    } 

    
}





