@media only screen and (max-width:1024px){
    .wrapper {
        align-items: center;
    }
}

@media only screen and (max-width: 739px){
    .wrapper {
       flex-direction: column-reverse;
    }

    .left,
    .right {
        height: fit-content;
    }

    .go_back {
        width: 100px;
        justify-content: flex-start;
    }
    .right,
    .right img,
    .left,
    .content{
        width: 90%;
    }
}