* {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    background-image: url(/image/image_chitietsanpham/background.jpg);
    width: 100%;
    height: 100vh;
}

.container {
    width: 70%;
    height: 400px;
    background-color: #FEEAC3;
    display: flex;
    align-items: center;
}

.container .left_image {
    width: 15%;
}

.container .left_image img{
   width: 100%;
}