* {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    background-image: url(/image/image_chitietsanpham/background.jpg);
    width: 100%;
    height: 100vh;
    position: relative;
}

.container {
    width: 65%;
    height: 550px;
    background-color: #FEEAC3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 17%;
    left: 17%;
    gap: 40px;
}

.container .left_image {
    width: 30%;
}

.container .left_image img{
    width: 100%;
    border-radius: 5px;
}

.right_des {
    width: 50%;
}

.right_des h2 {
    margin-bottom: 10px;
}

.rating ul{
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.rating ul li {
    text-align: center;
    border-right: 1px solid #222;
    width: 400px;
}

.size, .amount {
    display: flex;
    width: 80%;
    margin-top: 20px;
}

.size ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
}

.size ul li {
    width: 35px;
    height: 20px;
    background-color: #D9D9D9;
    text-align: center;
}

.amount ul {
    display: flex;
    list-style: none;
}

.amount ul li {
    width: 30px;
    height: 30px;
    background-color: #D9D9D9;
    text-align: center;
    line-height: 30px;
}

.amount ul li:nth-child(2) {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

.btn {
    width: 100%;
    margin-top: 40px;
    justify-content: ;
}
